body{
    margin: 0;
    padding: 0;
}
.intro{
    background: linear-gradient(300deg,#A0DBF2,#56C4F0, #449ABD);
    animation: gradient-animation 18s ease infinite; 
    background-position: center;
    background-size: cover;
    height:420px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;

}
img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* border: 2px solid rebeccapurple; */
}
/* LINKEDIN */
.btn{
    width: 25%;
    margin: 0px;
    padding-top: 0px;
}
.link{
    color: white;
    text-decoration: none;
    margin: 1px;
}


/* SAKEC */
div>div>p{ 
    color: #16517A;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
}
/*Anannya gupta*/
.title{
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 200px;
    font-size: 35px;
} 
/* HELLO ITS ME , I AM AN UNDERGRAD */
div>div>h3{
    color:  #16517A;
    font-weight: 200px;
    font-size: 25px;
} 
/* HELLO ITS ME */
.head{
    padding-top: 80px;
    padding-bottom: 1px;
}
.year{
    color: white;
}
.heading{
    text-align: center;
    padding-top: 50px;
    color:#FABE5C;
    font-size: 35px;

}
.container{
    padding-top: 25px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
h1.text-body-emphasis{
    text-align: center;
}
.contact{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(300deg,#A0DBF2,#56C4F0, #449ABD);
    animation: gradient-animation 18s ease infinite; 
}
.aboutme{
    background: linear-gradient(300deg,#A0DBF2,#56C4F0, #449ABD);
    animation: gradient-animation 18s ease infinite; 
    font-family: 'Times New Roman', Times, serif;
}
input::placeholder{
    font: 1 rem sans-serif;
    font-style: normal;
    font-size: 15px;
}

textarea::placeholder{
    font-style: italic;
}
.submit{
    background-color: #16517A;
    color: #FABE5C ;
    width: 10%;
    padding-right: 20px;
}
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}


